@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .playerButton {
        @apply h-5 w-5 cursor-pointer hover:scale-110 transition-transform duration-100 ease-out
    }
}

input[type="range"] {
    -webkit-appearance: none;
    height: 7px;
    background: rgba(247, 243, 243, 0.75);
    /*background: transparent;*/
    border-radius: 5px;
    background-image: linear-gradient(#1ED754, #1ED754);
    /*background-size: 70% 100%;*/
    background-repeat: no-repeat;
    cursor: pointer;

}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 13px;
    width: 13px;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

